/*== Global ===*/

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  color: lightgray;
}

.container {
  min-height: 100%;
}
.beer {
  background:#202020;
  color: #e8e8e8;
  /* margin: 10px; */
  padding: 10px;
}
.beer p {
  margin: 0;
}
.beer > p:first-of-type {
  font-size: 1.3em;
}
.beer-info p {
  color: #b8b7b7;
}
hr {
  background: #e8e8e8;
}
.text-orange {
  color: orange;
/*== Register and Login Modals ==*/

.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 1ms ease-in;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.Modal {
  background: #e9e9e9;
  min-width: 20rem;
  max-width: 50rem;
  outline: none;
  text-align: center;
}

.close-button {
  float: right;
}

.content {
  padding: 2.5rem;
}