html {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-border-radius: 0 !important;
      -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  background-color: $background;
}

h1 {
  font-weight: 200;
}

.container {
  min-height: 100%;
}

.page-content {
  margin-top: 1rem;
  min-height: 100vh;
  padding-bottom: 18rem;
  @media screen and (max-width: 576px) {
    padding-bottom: 40rem;
  }
}
