html {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-border-radius: 0 !important;
      -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  background-color: #f9f9f9;
}

.container {
  min-height: 100%;
}

.page-content {
  margin-top: 1rem;
  margin-bottom: 10rem;
}
