html {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  background-color: $background;
}

.container {
  min-height: 100%;
}

h1 {
  font-weight: 200;
}

.padding-mobile {
  @media screen and (max-width: 991px) {
    padding: $xs-size;
  }
}

.page-content {
  margin-top: 1rem;
  min-height: 100vh;
  padding-bottom: 18rem;
  @media screen and (max-width: 576px) {
    padding-bottom: 40rem;
  }
}

.amber {
  color: $amber;
}

.gray {
  color: darkgray;
}

.nav-item {
  transition: background-color 0.6s ease-out;
}

.nav-item:hover {
  background-color: $nav-item-transition;
}
