//previous $amber: #f4b249;

//Colors
$blue: #0062cc;
$amber: #f5ba39;
$medium-amber: #e0a241;
$dark-amber: #c77b02;
$off-white: #f5f5f5;
$nav-item-transition: #a7bfe5;
$background: #f9f9f9;

//Sizes
$xs-size: 0.65rem;
$sm-size: 1rem;
$md-size: 1.5rem;
$lg-size: 2.5rem;
