.padding-mobile {
  @media screen and (max-width: 991px) {
    padding: $xs-size;
  } 
}

.top {
  .name {
    padding-left: $md-size;
    @media screen and (max-width: 767px) {
      padding-left: inherit;
    } 
  }
}

.bottom {
  margin-top: $md-size;
  @media screen and (max-width: 991px) {
    margin-top: $sm-size;
  } 
  .rating {
    font-size: 1.2rem;
  }
}

.beer-container {
  background-color: white;
  padding: $lg-size;
  filter: drop-shadow(0 1px 1px #e4e4e4);
}

.main-image {
  max-width: 100px;
  max-height: 100px;
}

.user-thumbnail {
  max-width: 40px;
  max-height: 40px;
  margin-right: 5px;
}