.beer-container {
  background-color: white;
  padding: $lg-size;
  filter: drop-shadow(0 1px 1px #e4e4e4);
}

.beer-img-container {
  padding-right: 0;
  padding-bottom: 0;
  .beer-img {
    width: 100%;
    max-width: 120px;
  }
}

.bottom {
  margin-top: $md-size;
  @media screen and (max-width: 991px) {
    margin-top: $sm-size;
  } 
  .rating {
    font-size: 1.2rem;
  }
}

.top {
  .name {
    padding-left: $md-size;
    @media screen and (max-width: 767px) {
      padding-top: $sm-size;
      padding-left: inherit;
    } 
  }
}

.reviews {
  .review-text {
    border-left: 2px solid $off-white;
    width: 100%;
    height: 100%;
    padding-left: $sm-size;
  }
  .reviewer-thumbnail {
    width: 100%;
    max-width: 40px;
    margin: 0 auto;
  }
  .review-info {
    text-align: center;
  }
}

.favorites-checkbox {
  padding: $xs-size;
}

.user-thumbnail {
  margin-bottom: 4px;
  width: 100%;
  max-width: 50px;
}

.user-rating-categories {
  font-size: 0.85rem;
  p {
    margin-bottom: 4px;
  }
}


.animated-button {
  color: $amber;
  font-size: $md-size;
	position: relative;
	border: 2px solid $amber;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  &:hover {
    color: rgb(255, 255, 255) !important;
    background-color: transparent;
    text-shadow: nthree;
    &:before {
      left: 0%;
      right: auto;
      width: 100%;
    }
  }
  &:before {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 0px;
    z-index: -1;
    content: '';
    color: rgb(243, 243, 243) !important;
    background: $amber;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  }
}

