.color-white {
  background-color: white;
}

.top-bar {
  width: 100%;
  height: 3px;
  background: $amber;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F7971E, #FFD200);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F9781C, #FFD200); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
