.nav-tabs .nav-item {
  cursor: pointer;
}

.nav-link.active,
.nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: #f9f9f9;
}

.profile-container {
  padding: 4% 0 4% 0;
}

.profile-img {
  text-align: center;
  img{
    width: 60%;
    height: 50%;
  }
  .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 60%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;

    input {
      position: absolute;
      opacity: 0;
      right: 0;
      top: 0;
    }
  }
}

.profile-head {
  h2{
    color: #333;
  }
  h6{
    color: $blue;
  }
  .nav-tabs{
    margin-bottom:5%;
  }
  .nav-tabs .nav-link{
    font-weight:600;
    border: none;
  }
  .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid $blue;
  }
}

.profile-edit-btn{
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
}

.profile-rating{
  font-size: 12px;
  color: #818182;
  margin-top: 5%;
  span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
  }
}

.profile-tab {
  label{
    font-weight: 600;
  }
  p, 
  button {
    font-weight: 600;
    color: $blue;
  }
  .edit-btn {
    padding: 0;
    margin-bottom: 1rem;
  }
}

.svg {
  width: 1.5rem;
}
.timeline-row {
  border: 1px solid #eff5ff;
  padding: 2% 2% 2% 0;
  margin: 0 2% 3% 0;
}
.user-name {
  color: $blue;
}
