.rate-beer-container {
  height: 30em;
  width: 15em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rating-categories {
  display: flex;
}

.rating-categories label {
  display: flex;
  flex-direction: column;
}

.rating-categories div {
  margin: 5px;
}

.rate-beer-container textarea {
  width: 25em;
  height: 15em;
}
